<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [ ]:
import pandas as pd

Load the dataset into a dataframe.

In [ ]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the number of duplicate rows
num_duplicate_rows = df.duplicated().sum()

# Print the number of duplicate rows
print(f"The number of duplicate rows in the dataset is: {num_duplicate_rows}")

The number of duplicate rows in the dataset is: 154

In [ ]:
# Duplicate values in "Respondent" column

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the number of duplicate values in the 'Respondent' column
num_duplicate_respondent = df['Respondent'].duplicated().sum()

# Print the number of duplicate values in the 'Respondent' column
print(f"The number of duplicate values in the 'Respondent' column is: {num_duplicate_respondent}")

The number of duplicate values in the 'Respondent' column is: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the number of duplicate rows before removing them
num_duplicate_rows_before = df.duplicated().sum()
print(f"The number of duplicate rows before removing them: {num_duplicate_rows_before}")

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Find the number of duplicate rows after removing them
num_duplicate_rows_after = df_cleaned.duplicated().sum()
print(f"The number of duplicate rows after removing them: {num_duplicate_rows_after}")

The number of duplicate rows before removing them: 154
The number of duplicate rows after removing them: 0

Verify if duplicates were actually dropped.

In [2]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Print the number of rows before removing duplicates
num_rows_before = df.shape[0]
print(f"Number of rows before removing duplicates: {num_rows_before}")

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Print the number of rows after removing duplicates
num_rows_after = df_cleaned.shape[0]
print(f"Number of rows after removing duplicates: {num_rows_after}")

# Check if duplicates were removed
if num_rows_before > num_rows_after:
    print("Duplicates were successfully removed.")
else:
    print("No duplicates were found or removed.")

Number of rows before removing duplicates: 11552
Number of rows after removing duplicates: 11398
Duplicates were successfully removed.

In [4]:
# Unique rows in "Respondent" column

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Count the unique values in the 'Respondent' column
unique_respondents = df_cleaned['Respondent'].nunique()

# Print the number of unique rows in the 'Respondent' column
print(f"The number of unique rows in the 'Respondent' column after removing duplicates is: {unique_respondents}")

The number of unique rows in the 'Respondent' column after removing duplicates is: 11398

## Finding Missing values

Find the missing values for all columns.

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the missing values for all columns
missing_values = df.isnull().sum()

# Print the missing values for all columns
print("Missing values for all columns:")
print(missing_values)

Missing values for all columns:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the number of missing values in the 'WorkLoc' column
missing_workloc = df['WorkLoc'].isnull().sum()

# Print the number of missing values in the 'WorkLoc' column
print(f"The number of missing values in the 'WorkLoc' column is: {missing_workloc}")

The number of missing values in the 'WorkLoc' column is: 32

In [5]:
# Blank rows are there under the column EdLevel

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Find the number of blank (missing) rows in the 'EdLevel' column
missing_edlevel = df_cleaned['EdLevel'].isnull().sum()

# Print the number of blank rows in the 'EdLevel' column
print(f"The number of blank rows in the 'EdLevel' column after removing duplicates is: {missing_edlevel}")

The number of blank rows in the 'EdLevel' column after removing duplicates is: 112

In [6]:
# Missing rows are under the column Country

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Find the number of missing (blank) rows in the 'Country' column
missing_country = df_cleaned['Country'].isnull().sum()

# Print the number of missing rows in the 'Country' column
print(f"The number of missing rows in the 'Country' column after removing duplicates is: {missing_country}")

The number of missing rows in the 'Country' column after removing duplicates is: 0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the value counts for the 'WorkLoc' column
workloc_value_counts = df['WorkLoc'].value_counts()

# Print the value counts for the 'WorkLoc' column
print("Value counts for the 'WorkLoc' column:")
print(workloc_value_counts)

Value counts for the 'WorkLoc' column:
WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
#make a note of the majority value here, for future reference
#

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the value that is most frequent in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].mode()[0]

# Print the most frequent value in the 'WorkLoc' column
print(f"The most frequent value in the 'WorkLoc' column is: {most_frequent_workloc}")

The most frequent value in the 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Identify the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].mode()[0]

# Replace all missing values in the 'WorkLoc' column with the most frequent value
df['WorkLoc'] = df['WorkLoc'].fillna(most_frequent_workloc)

# Verify if there are any more missing values in the 'WorkLoc' column
missing_workloc_after = df['WorkLoc'].isnull().sum()
print(f"The number of missing values in the 'WorkLoc' column after imputation: {missing_workloc_after}")

# Optional: Display the first few rows of the dataframe to verify the changes
print(df.head())

The number of missing values in the 'WorkLoc' column after imputation: 0
   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource          Employment  \
0  The quality of OSS and closed source software ...  Employed full-time
1  The quality of OSS and closed source software ...  Employed full-time
2  OSS is, on average, of HIGHER quality than pro...  Employed full-time
3  The quality of OSS and closed source software ...  Employed full-time
4  The quality of OSS and closed source software ...  Employed full-time

          Country Student                                            EdLevel  \
0   United States      No           Bachelor’s degree (BA, BS, B.Eng., etc.)
1     New Zealand      No  Some college/university study without earning ...
2   United States      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
3  United Kingdom      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
4       Australia      No           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                      UndergradMajor  ...  \
0  Computer science, computer engineering, or sof...  ...
1  Computer science, computer engineering, or sof...  ...
2  Computer science, computer engineering, or sof...  ...
3                                                NaN  ...
4  Computer science, computer engineering, or sof...  ...

                              WelcomeChange  \
0   Just as welcome now as I felt last year
1   Just as welcome now as I felt last year
2  Somewhat more welcome now than last year
3   Just as welcome now as I felt last year
4   Just as welcome now as I felt last year

                                        SONewContent   Age Gender Trans  \
0  Tech articles written by other developers;Indu...  22.0    Man    No
1                                                NaN  23.0    Man    No
2  Tech articles written by other developers;Cour...  28.0    Man    No
3  Tech articles written by other developers;Indu...  26.0    Man    No
4  Tech articles written by other developers;Indu...  29.0    Man    No

                 Sexuality                              Ethnicity Dependents  \
0  Straight / Heterosexual           White or of European descent         No
1                 Bisexual           White or of European descent         No
2  Straight / Heterosexual           White or of European descent        Yes
3  Straight / Heterosexual           White or of European descent         No
4  Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial         No

            SurveyLength                  SurveyEase
0  Appropriate in length                        Easy
1  Appropriate in length  Neither easy nor difficult
2  Appropriate in length                        Easy
3  Appropriate in length  Neither easy nor difficult
4  Appropriate in length                        Easy

[5 rows x 85 columns]

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Identify the most frequent value in the 'WorkLoc' column
most_frequent_workloc = df['WorkLoc'].mode()[0]

# Replace all missing values in the 'WorkLoc' column with the most frequent value
df['WorkLoc'] = df['WorkLoc'].fillna(most_frequent_workloc)

# Verify if there are any missing values in the 'WorkLoc' column after imputation
missing_workloc_after = df['WorkLoc'].isnull().sum()
print(f"The number of missing values in the 'WorkLoc' column after imputation: {missing_workloc_after}")

# Check if any values remain missing
if missing_workloc_after == 0:
    print("Imputation was successful. There are no missing values in the 'WorkLoc' column.")
else:
    print("Imputation was not fully successful. There are still missing values in the 'WorkLoc' column.")

The number of missing values in the 'WorkLoc' column after imputation: 0
Imputation was successful. There are no missing values in the 'WorkLoc' column.

In [7]:
# Majority category under the column Employment

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the majority category in the 'Employment' column
majority_employment = df['Employment'].mode()[0]

# Print the majority category in the 'Employment' column
print(f"The majority category in the 'Employment' column is: {majority_employment}")

The majority category in the 'Employment' column is: Employed full-time

In [8]:
# What category has the minimum number of rows under the column " UndergradMajor"

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the category with the minimum number of rows in the 'UndergradMajor' column
undergrad_major_counts = df['UndergradMajor'].value_counts()
category_with_min_rows = undergrad_major_counts.idxmin()

# Print the category with the minimum number of rows
print(f"The category with the minimum number of rows in the 'UndergradMajor' column is: {category_with_min_rows}")

The category with the minimum number of rows in the 'UndergradMajor' column is: A health science (ex. nursing, pharmacy, radiology)

In [10]:
# Best approach to impute the missing values in the column ‘ConvertedComp’ contains the annual compensation

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Calculate the median of the 'ConvertedComp' column
median_converted_comp = df['ConvertedComp'].median()

# Impute missing values in the 'ConvertedComp' column with the median
df['ConvertedComp'] = df['ConvertedComp'].fillna(median_converted_comp)

# Verify the imputation
missing_converted_comp_after = df['ConvertedComp'].isnull().sum()
print(f"The number of missing values in the 'ConvertedComp' column after imputation: {missing_converted_comp_after}")

The number of missing values in the 'ConvertedComp' column after imputation: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# List the unique categories in the 'CompFreq' column
compfreq_categories = df['CompFreq'].unique()

# Print the unique categories
print("Categories in the 'CompFreq' column:")
print(compfreq_categories)

Categories in the 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

In [11]:
# Unique values are there in the CompFreq column

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Find the number of unique values in the 'CompFreq' column
unique_compfreq_values = df['CompFreq'].nunique()

# Print the number of unique values in the 'CompFreq' column
print(f"The number of unique values in the 'CompFreq' column is: {unique_compfreq_values}")

The number of unique values in the 'CompFreq' column is: 3

In [12]:
# Respondents are being paid yearly after removing the duplicate rows

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Count the number of respondents being paid yearly
num_yearly_paid = df_cleaned[df_cleaned['CompFreq'] == 'Yearly']['Respondent'].nunique()

# Print the number of respondents being paid yearly
print(f"The number of respondents being paid yearly after removing duplicates is: {num_yearly_paid}")

The number of respondents being paid yearly after removing duplicates is: 6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [ ]:
# your code goes here

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Define a function to normalize the compensation
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

# Apply the function to create the 'NormalizedAnnualCompensation' column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Display the first few rows of the DataFrame to verify the new column
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

In [13]:
#

import pandas as pd

# The dataset is available at the following URL
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

# Load the data into a DataFrame
df = pd.read_csv(dataset_url)

# Define a function to normalize the compensation
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

# Apply the function to create the 'NormalizedAnnualCompensation' column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Calculate the median of the 'NormalizedAnnualCompensation' column
median_normalized_annual_compensation = df['NormalizedAnnualCompensation'].median()

# Print the median
print(f"The median Normalized Annual Compensation is: {median_normalized_annual_compensation}")

The median Normalized Annual Compensation is: 100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).